Implement Fetch standard (includes CORS)

This is a tracking issue for [WHATWG Fetch Living Standard](https://fetch.spec.whatwg.org/).

**Revision to be implemented:** 26 October 2020 (whatwg/fetch@515e6bb, use https://github.com/tabatkins/bikeshed to build a cloned revision locally)

**Test suit:** http://w3c-test.org/fetch/, http://w3c-test.org/cors/

**Paragraphs to implement:**

*Checkboxes are dedicated to sections with requirements referred from nowhere else. Sections with definitions and generic algorithms are not covered because they will be implemented as a dependency of some other requirement and do not need out-of-order attention.*

*When all requirements from a non-checkbox section are implemented, strikethrough the corresponding list line.*

- Goals
- 1 Preface
- 2 Infrastructure
  - [ ] 2.1 URL
  - 2.2 HTTP
    - 2.2.1 Methods
    - 2.2.2 Headers
    - 2.2.3 Statuses
    - 2.2.4 Bodies
    - 2.2.5 Requests
    - 2.2.6 Responses
    - 2.2.7 Miscellaneous
2.3 Authentication entries
2.4 Fetch groups
2.5 Connections
2.6 Network partition keys
2.7 HTTP cache partitions
2.8 Port blocking
2.9 Should response to request be blocked due to its MIME type?
3 HTTP extensions
3.1 `Origin` header
- 3.2 CORS protocol
  - [ ] 3.2.1 General
  - 3.2.2 HTTP requests
  - [ ] 3.2.3 HTTP responses
  - [ ] 3.2.4 HTTP new-header syntax
  - [ ] 3.2.5 CORS protocol and credentials
  - 3.2.6 Examples
   - [ ] 3.2.7 CORS protocol exceptions
  - 3.3 `Content-Type` header
  - 3.4 `X-Content-Type-Options` header
    - [ ] 3.4.1 Should response to request be blocked due to nosniff?
  - 3.5 CORB
  - [ ] 3.6 `Cross-Origin-Resource-Policy` header
- 4 Fetching
  - 4.1 Main fetch
  - 4.2 Scheme fetch
  - 4.3 HTTP fetch
  - 4.4 HTTP-redirect fetch
  - 4.5 HTTP-network-or-cache fetch
  - 4.6 HTTP-network fetch
  - 4.7 CORS-preflight fetch
  - 4.8 CORS-preflight cache
  - 4.9 CORS check
  - 4.10 TAO check
- 5 Fetch API
  - [ ] 5.1 Headers class
  - [ ] 5.2 BodyInit unions
  - [ ] 5.3 Body mixin
  - [ ] 5.4 Request class
  - [ ] 5.5 Response class
  - [ ] 5.6 Fetch method
  - [ ] 5.7 Garbage collection
- 6 WebSocket protocol alterations
  - [ ]6.1 Connections
  - [ ] 6.2 Opening handshake
- [ ] 7 data: URLs
Background reading
HTTP header layer division
Atomic HTTP redirect handling
Basic safe CORS protocol setup
CORS protocol and HTTP caches
- Acknowledgments
- Intellectual property rights
- Index
  - Terms defined by this specification
  - Terms defined by reference
- References
  - Normative References
  - Informative References
- IDL Index

This standard obsoletes the following specifications:

- [RFC 6454 The Web Origin Concept](https://tools.ietf.org/html/rfc6454).

This standard partially overrides the following specifications:

- [RFC 2397 The "data" URL scheme](https://tools.ietf.org/html/rfc2397).
- [RFC 6455 The WebSocket Protocol](https://tools.ietf.org/html/rfc6455).